    <footer class="sticky-footer">
      <div class="container">
        <ul class="list-inline">
          <li><p class="text-muted">Copyright &copy; 2006&ndash;{{ "now" | date: "%Y" }} Apple Inc. All rights reserved.</p></li>
        </ul>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/jquery/3.1.0/jquery.slim.min.js" integrity="sha256-cRpWjoSOw5KcyIOaZNo4i6fZ9tKPhYYb6i5T9RSVJG8=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>
</html>
